body {
    font-family: 'lato', sans-serif;
}

.container {
    max-width: 1000px;
    margin: auto;
}

h2 {
    font-size: 26px;
    margin: 20px 0;
    text-align: center;
}

.button-add, .button-cancel {
    cursor: pointer;
    outline: none;
    background-color: #ffffff;
    padding: 7px 11px;
    border-radius: 7px;
    font-size: 14px;
    color: #000000;
    background-size: 100% 100%;
}